/*
	======
	GLOBAL
	======
*/
body {
	font-family: avenir;
	color: #333;
	margin: 0px;
}
.container {
	margin: 0px 5%;
}
p {
	margin: 0em auto 1em auto;
	text-indent: 0em;
}
ul {
	list-style-type: disc;
	padding: 0em 0em 0em 1em;
	margin: -0.5em 0em 1em 0em;
}
a {
	color: #00b0ec;
	text-decoration: none;
}
hr {
	height: 1px;
	background-color: #c2c2c2;
	border: 0px;
	clear: both;
}
h3 {
	font-size: 100%;
	margin-top: 0em;
}
h2.chapter_heading {
	font-size: 180%;
	font-weight: normal;
	line-height: 1.2em;
	padding-top: 15px;
	page-break-inside: avoid;
    background: url(../Images/hr_blue.png) no-repeat top center; 
}
h4.chapter_heading_super {
	font-size: 80%;
	padding-top: 7px;
	page-break-inside: avoid;
    /* background: url(../Images/hr.png) no-repeat top center;
    color: #00b0ec; */
}
h4.chapter_heading_super + h2.chapter_heading {
	margin-top: -14px;
}
p + h1, p + h2, p + h3, p + h4, p + h5, p + .header_decor {
	margin-top: 2em;
}
ul + h1, ul + h2, ul + h3, ul + h4, ul +h5 {
	margin-top: 2em;
}
/*
	======
	IMAGES
	======
*/
.portrait_large {
	margin: 1.5em auto;
	text-align:center;
	page-break-inside: avoid;
	height: 70%;
	height: 70vh;
	border-radius: 6px;
}
.portrait_large img {
	page-break-inside: avoid;
	height: 100%;
	border-radius: 6px;
}
.portrait_medium {
	margin: 1.5em auto;
	text-align:center;
	page-break-inside: avoid;
	height: 55%;
	height: 55vh;
	border-radius: 6px;
}
.portrait_medium img {
	page-break-inside: avoid;
	height: 100%;
	border-radius: 6px;
}
.portrait_small {
	position: relative;
	margin: 1.5em auto;
	text-align: center;
	page-break-inside: avoid;
	height: 30%;
	height: 30vh;
}
.portrait_small img {
	page-break-inside: avoid;
	height: 100%;
	border: 4px solid #00b0ec;
}
.landscape_large {
	margin: 1.5em auto;
	text-align:center;
	page-break-inside: avoid;
	width: 100%;
}
.landscape_large img {
	width: 100%;
}
.landscape_medium {
	margin: 1.5em auto;
	text-align:center;
	page-break-inside: avoid;
	width: 80%;
}
.landscape_medium img {
	width: 100%;
	border-radius: 6px;
}
.landscape_small {
	margin: 1.5em auto;
	text-align:center;
	page-break-inside: avoid;
	width: 48%;
}
.landscape_small img {
	width: 100%;
	border-radius: 6px;
}
.chapter_banner {
	margin: 0px !important;
	padding: 0px !important;
	text-align: center;
	page-break-inside: avoid;
	width: 100%;
	overflow: hidden;
	background-color: red;
}
.chapter_banner img {
	width: 100%;
	padding: 0em;
	margin: 0px;
}
.chapter_banner .hide_me { /* Hides the replicated banner text */
	position: absolute !important;
	top: -9999px !important;
	left: -9999px !important;
	height: 0px;
	overflow: hidden;
}
/*
	============
	OTHER STYLES
	============
*/
.pagebreak_after {
	page-break-after: always;
}
.pagebreak_before {
	page-break-before: always;
}















































/* Koko H.Ekong, 2014 */